body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #FEFCFE;
  color: #2B3541;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.page-header-inner {
  padding-right: 50px;
  padding-left: 50px;
}

.page-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 27px;
}

.header-logo,
.footer-logo {
  display: flex;
  width: 97px;
  height: 30px;
  margin-right: 72px;
}

.header-logo img,
.footer-logo img {
  display: block;
  width: 100%;
  height: 30px;
  border-style: none;
}

.page-header-nav {
  flex-grow: 1;
  max-width: 1140px;
}

.site-navigation,
.social-navigation,
.footer-navigation,
.footer-social-navigation {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.site-navigation-item {
  padding-right: 25px;
  padding-left: 25px;
}

.site-navigation-item:first-child,
.footer-navigation-item:first-child {
  padding-left: 0;
}

.site-navigation-item:last-child,
.footer-navigation-item:last-child {
  padding-right: 0;
}

.site-navigation-link {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease;
}

.site-navigation-link:hover,
.footer-navigation-link:hover {
  border-bottom: 1px solid #2B3541;
}

.social-navigation-item:first-child,
.footer-social-item:first-child {
  padding-right: 15px;
}

.social-navigation-item:last-child,
.footer-social-item:last-child {
  padding-left: 15px;
}

.social-btn {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  opacity: 0.8;
  font-size: 0;
  transition: 0.2s ease;
}

.social-btn:hover,
.footer-social-btn:hover {
  transform: scale(1.2);
}

.social-btn-in {
  background-image: url(../images/icons/IN.svg);
}

.social-btn-fb {
  background-image: url(../images/icons/FB.svg);
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.page-main-inner {
  display: flex;
  height: 100%;
  min-height: 852px;
}

.page-main .main-img {
  position: absolute;
  top: 0;
  right: -59px;
  max-width: 996px;
  overflow: hidden;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 652px;
}

.main-content-title {
  margin-bottom: 20px;
}

.main-content-description {
  padding-left: 75px;
}

.title-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.title-h2 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.title-description {
  margin: 0;
  margin-bottom: 40px;
  line-height: 150%;
}

.btn {
  background-color: #FBF138;
  color: #2B3541;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
  border: none;
}

.btn:hover {
  background-color: #2B3541;
  color: #FBF138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.btn-main {
  padding: 20px 30px;
}

.scroll-btn {
  display: block;
  width: 52px;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 75px;
  background-image: url(../images/icons/Arrow.svg);
  background-repeat: no-repeat;
}

.page-events {
  padding-top: 160px;
  padding-bottom: 160px;
}

.title-h3 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;

}

.text-date {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.6;
}

.title-h4 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
}

.events-btn {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 126px;
  background-color: #FBF138;
  padding: 10px 20px;
  color: #2B3541;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  z-index: 2;
}

.events-btn:hover {
  background-color: #FBF138;
  color: #2B3541;
}

.events-list {
  display: grid;
  grid-template: 600px / repeat(3, 365px);
  grid-gap: 22px;
}

.events-item,
.about-thumb {
  position: relative;
  display: inline-block;
	position: relative;
  line-height: 0;
}

.events-item::after,
.about-thumb::after {
  content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
  opacity: 0.3;
}

.events-item:hover::after {
  opacity: 0.6;
}

.events-item:last-child {
  margin-right: 0;
}

.events-item-detail {
  position: relative;
  z-index: 1;
  padding: 30px;
}

.events-item-maraphone {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url(../images/files/@1x/maraphon.png);
  background-repeat: no-repeat;
}

.events-item-vebinar {
  grid-row: 1/2;
  grid-column: 2/3;
  background-image: url(../images/files/@1x/Vebinar_1.png);
  background-repeat: no-repeat;
}

.events-item-yoga {
  grid-row: 1/2;
  grid-column: 3/4;
  background-image: url(../images/files/@1x/Vebinar_2.png);
  background-repeat: no-repeat;
}

.btn-link {
  padding: 20px 37px;
  color: #FBF138;
  background: #2B3541;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  cursor: pointer;
}

.btn-link:focus {
  outline: none;
}

.page-form {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F3F3F3;
}

.page-form-inner {
  display: flex;
  flex-direction: column;
}

.contacts-form {
  margin: 0 auto;
}

.page-form-title {
  position: relative;
  margin-bottom: 40px;
}

.page-form .title-h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  line-height: 49px;
}

.circle-form {
  width: 101px;
  height: 101px;
  position: absolute;
  top: -29px;
  left: -59px;
}

.contacts-form-email {
  margin-right: 20px;
  display: block;
  width: 372px;
  background-color: #FFFFFF;
  border: none;
  padding: 19px;
  font-weight: 400;
  line-height: 150%;
}

.contacts-form-email::placeholder {
  opacity: 0.3;
}

.contacts-form-email:focus {
  outline: none;
}

.contacts-form-input {
  display: flex;
  margin-bottom: 10px;
}

.btn-form {
  padding: 21px 42px;
  cursor: pointer;
}

.contacts-form input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top;
  outline: none;
  background: url(../images/icons/check_box_empty.svg) 0 0 no-repeat;
}

.contacts-form input[type='checkbox']:checked {
  background: url(../images/icons/check_box.svg);
}

.contacts-form input[type='email']:valid {
  border: none;
}

.contacts-form input[type='email']:invalid {
  border: 1px solid red;
}

.checkbox-area {
  display: flex;
  align-items: center;
}

.checkbox-area label {
  font-size: 11px;
  line-height: 150%;
  color: rgba(43, 53, 65, 0.5);
}

.check-link {
  color: rgba(43, 53, 65, 0.5);
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
  transition: 0.2s ease;
  text-decoration: none;
}

.check-link:hover {
  color: rgba(43, 53, 65, 1);
  border-bottom: 1px solid rgba(43, 53, 65, 1);
}

.page-about {
  padding-top: 160px;
  margin-bottom: 80px;
}

.page-about-inner {
  display: flex;
  justify-content: space-between;
}

.about-item {
  flex: 0 0 49%;
  display: flex;
  flex-direction: column;
}

.about-item:not(:last-child) {
  margin-right: 15px;
}

.page-about .title-h3 {
  margin-bottom: 19px;
}

.about-description {
  margin: 0;
  margin-bottom: 34px;
  padding-right: 50px;
  line-height: 150%;
}

.btn-about {
  padding: 20px 0;
  max-width: 225px;
}

.about-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 336px;
}

.about-img {
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(50%,50%);
  width: 100%;
  height: 336px;
  object-fit: cover;
}

.page-skills {
  padding-bottom: 170px;
}

.page-skills-inner {
  display: flex;
  justify-content: space-between;
}

.skill-item {
  flex: 0 0 22%;
}

.skill-item:not(:last-child) {
  margin-right: 3%;
}

.page-skills .title-h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.skill-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
}

.page-footer {
  background-color: #F3F3F3;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-navigation-item {
  padding-right: 45px;
  padding-left: 45px;
}

.footer-navigation-item:first-child {
  padding-left: 0;
}

.footer-navigation-item:last-child {
  padding-right: 0;
}

.footer-navigation-link {
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease;
}

.footer-social {
  display: flex;
}

.footer-social-email {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 62px;
}

.circle-footer {
  position: absolute;
}

.circle-footer {
  width: 73px;
  height: 73px;
  position: absolute;
  top: -20px;
  left: -41px;
}

.footer-email-link {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.footer-social-btn {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  font-size: 0;
  transition: 0.2s ease;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 21px 0;
}

.footer-bottom p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgba(43, 53, 65, 0.3);
}

.footer-link {
  color: rgba(43, 53, 65, 0.3);
  border-bottom: 1px solid rgba(43, 53, 65, 0.3);
}

.footer-link:hover {
  color: rgba(43, 53, 65, 1);
  border-bottom: 1px solid rgba(43, 53, 65, 1);
}

